.custom-nav-footer .btn {
    flex: 1;
    min-width: 120px;
    margin: 5px;
}

/* Estilo para el botón activo */
.custom-nav-footer .btn.active {
    background-color: #007bff; /* Color primary */
    color: white;
}

/* Estilo para los botones inactivos */
.custom-nav-footer .btn:not(.active) {
    background-color: #f8f9fa; /* Color light */
    color: #007bff; /* Color primary */
}

@media (max-width: 991px) {
    .custom-nav-footer .col-md-2 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}