<img src="https://dann-vj.github.io/trabajo_en_equipo/static/img/banner.png" alt="Banner" class="img-fluid" id="bannerImage">

<div class="container-fluid custom-nav-footer">
    <div class="row py-3">
        <div class="d-grid gap-2 col-md-2">
            <a class="btn btn-primary active" id="index" href="https://dann-vj.github.io/trabajo_en_equipo/">Inicio</a>
        </div>
        <div class="d-grid gap-2 col-md-2">
            <a class="btn btn-primary" id="unit1" href="https://dann-vj.github.io/trabajo_en_equipo/views/u1/1.html">Unidad 1</a>
        </div>
        <div class="d-grid gap-2 col-md-2">
            <a class="btn btn-primary" href="#">Unidad 2</a>
        </div>
        <div class="d-grid gap-2 col-md-2">
            <a class="btn btn-primary" href="#">Unidad 3</a>
        </div>
        <div class="d-grid gap-2 col-md-2">
            <a class="btn btn-primary" href="#">Unidad 4</a>
        </div>
        <div class="d-grid gap-2 col-md-2">
            <a class="btn btn-primary" href="#">Unidad 5</a>
        </div>
    </div>
</div>